{% extends 'portfolio/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>

</head>
<body>
{% block body %}
<div id="top">
    <h1>Contact Information</h1>
</div>

<div id="list">
    <ul style="list-style-type:none;">
        <li>ianbrinkerhoff@mail.weber.edu</li>
        <li>(801)-628-8948</li>
        <li><a href="https://github.com/ianbrinkerhoff" target="_blank">Github Page!</a></li>
    </ul>
</div>

<div>
    <form method="POST">
        {% csrf_token %}
    <div class="row justify-content-center">
           <h2 style="margin-top:50px; margin-bottom:20px">Enter Contact Information:</h2>
    </div>
   <div style="margin-bottom:20px" class="row justify-content-center">
            {{ form }}
   </div>
    <div class="row justify-content-center">
           <button type="submit">Submit</button>
    </div>
    </form>
</div>

{% endblock %}
</body>
</html>
