{% extends 'portfolio/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Home</title>

</head>
<body>
{% block body %}
<div id="top">
<h1>Portfolio Home</h1>
</div>

<div>
   <p id="intro">Hello! My name is Ian Brinkerhoff,
    I am a senior in the CS program at Weber State.
    I work full time as a Unit Training Manager in
    an Air Force Unit on base. I am married to a
    wonderful nurse named Baylee, and I have been
    living in Mississippi on an Air Force base for
    the last 2 months and I officially come home to Utah
    this week!</p>
</div>
{% endblock %}
</body>
</html>




