{% extends 'portfolio/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

</head>
<body>
{% block body %}
<div>
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'PortfolioDatabase:portfolio' %}" class="navbar-brand">Portfolio</a>
        <div class="navbar">
            {% if user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'PortfolioDatabase:add_portfolio'%}" class="nav-item nav-link">Add Portfolio</a>
            {% endif %}
        </div>
    </nav>
</div>



<div id="list">
    {% for portfolio in portfolio_list %}
    <div class="row" style="border:2px solid black">
        <div class="col-md-3 offset-md-2">
            <img class="card" height="150px" src="{{portfolio.portfolio_image}}"/>
        </div>
        <div class="col-md-4">
            <h3>{{portfolio.portfolio_name}}</h3>
            <h4>{{portfolio.portfolio_desc}}</h4>
        </div>
        <div class="col-md-2">
            <div>
                <a href="{% url 'PortfolioDatabase:p_detail' portfolio.id %}" class="btn btn-success">Details</a>
            </div>
            <div >
                {% if user.is_authenticated %}
                    <a href="{% url 'PortfolioDatabase:update_portfolio' portfolio.id %}" class="btn btn-dark">Edit</a>
                    <a href="{% url 'PortfolioDatabase:delete_portfolio' portfolio.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>

